html {
  min-height: 100%;
  box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	font-family: roboto, arial, serif;
	padding: 20px;
	margin-bottom: 60px; 
}

.title {
	font-size: 60px;
	font-weight: 800;
}

.footer {
	position: fixed;
	height: 80px;
	right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

span {
	text-decoration: none;
}

a {
  color: black;
  text-decoration: none; 
  font-weight: 550;
}

input {
	width: 300px;
	height: 40px;
}

input, .searchbutton {
	font-size: 20px;
}

.title, .searchbutton, #searchform, .results, #nav_form {
	text-align: center;
	margin-top: 40px;
}

.title, .searchbutton, #searchform {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.thumbn, button {
	display: inline-block;
	margin: 5px;
}

.thumbn {
	float: left;
	width: 325px;
	height: 260px;
}

.title, #searchform {
	width: 100%;
}

.searchbutton, button {
	border-width: 0px;
	background-color: #c4302b;
	box-shadow: inset -13px -12px 60px -46px rgba(0,0,0,0.75);
	color: #f2f2f2;
	cursor: pointer;
}

.searchbutton {
	width: 120px;
	height: 40px;
	font-size: 20px;
	border-radius: 6px;
}

button {
	width: 70px;
	height: 30px;
	font-size: 14px;
	border-radius: 6px;
	text-align: center;
}

.searchbutton:hover, button:hover {
	box-shadow: inset -13px -12px 100px -46px rgba(0,0,0,0.75);
	color: white;
}


button:disabled {
	background-color: #808080;
	cursor: default;
	box-shadow: none;
}
